body {
	background: url(../img/bg_icon.cx_valfjikc);
	color: #666;
}

a,h1, h2, h3, h4, h5, h6 {
	color: #333333;
}

a:focus,a:hover,a:active {
	color: #FF9900;
}


.cx_veehgoye .cx_abhldvdy,.cx_veehgoye .cx_abhldvdy a {
	color: #999;
}

.cx_veehgoye li a {
	color: #fff;
}

.cx_veehgoye li.active a,.cx_veehgoye li a:hover {
	background-color: #252525;
	color: #fff;
}

.cx_veehgoye,.cx_waqdyouo li.active a,.cx_yrsuywei li.active a,.cx_oybzwwzg .cx_wrmlwxvm a.active,.cx_mnxdfpcx li.active a,.cx_mnxdfpcx li.active .cx_amdjpjng,.cx_mnxdfpcx li.disabled a,.cx_csbabxth li.active a,.cx_plxcxuic li.active a,.cx_ikqapxnc li .cx_xdqxifcw,.cx_bohtsjby .cx_jxxlcsms li.active a,.cx_bohtsjby .cx_jxxlcsms li.active a:before,.cx_csbabxth li.active a:before,.cx_ysmrvhlf a,.cx_mnxdfpcx-text span.cx_tyxbsdhm {
	background-color: #333;
	color: #fff;
}

.cx_waqdyouo li.active a,.cx_mnxdfpcx li.active a,.cx_mnxdfpcx li.active .cx_amdjpjng,.cx_mnxdfpcx li.disabled a,.cx_oybzwwzg .cx_wrmlwxvm a.active,.cx_csbabxth li.active a,.cx_plxcxuic li.active a,.cx_bohtsjby .cx_jxxlcsms li.active a,.cx_mnxdfpcx-text span.cx_tyxbsdhm {
	border: 1px solid #333;
}