/*!
 * Copyright 2016-2018 http://v.cx_mwshlgmq.cx_xxyrdliy
 * Email 726662013@qq.cx_qhktbmvw,admin@shoutu.cx_xxyrdliy
 */
@charset "utf-8";

/* all */
html{height: 100%;}
body{ margin: 0; padding-top: 50px; font-family:'Helvetica Neue', 'STHeiti', '微软雅黑', 'Microsoft YaHei', Helvetica,Arial,sans-serif; font-size:14px; line-height: 140%;}
ul, ol, li,dt,dd{margin:0; padding:0; list-style:none;}
dl{margin-top:0; margin-bottom:0}
p{margin:0 0 10px;}
img{border: 0; vertical-align:middle}
img.cx_gpstvscg{ max-width: 100%; width: 100%;}
input,textarea{outline: medium none; outline: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-appearance: none;}

/* container */
*{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
:after,:before{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box}
.cx_fnncqktw { width: 990px; position: relative; padding-right: 15px; padding-left: 15px; margin: 0 auto;}
.cx_vcrabmay{position: relative; margin-right: -15px; margin-left: -15px; background-color: #fff; border-radius: 4px; border: 1px solid #eee;}
.cx_fnncqktw:before,.cx_fnncqktw:after,.cx_vcrabmay:before,.cx_vcrabmay:after,.cx_xzwoevcx:before, .cx_xzwoevcx:after{ display: table; content: " "; clear: both;}

/* text */
h1{ font-size:22px; line-height: 28px;}
h2{ font-size:20px; line-height: 26px;}
h3{ font-size:18px; line-height: 24px;}
h4{ font-size:16px; line-height: 22px;}
h5{ font-size:14px; line-height: 20px;}
h6{ font-size:12px; line-height: 18px;}
h1,h2,h3,h4,h5,h6{ font-weight: 400; margin-top:10px; margin-bottom:10px}
a,button{ text-decoration:none; outline:none; -webkit-tap-highlight-color:rgba(0,0,0,0)}
a:focus,a:hover,a:active{ text-decoration:none;}
.cx_jwtknida{ color: red;}
.cx_fgpemvqq{ color: #999999;}
.cx_phxwqroa{ color: #ccc;}
.cx_qdqtkctd{ text-align: center;}
.cx_zyjcljfv{display: inline-block; margin-left: 12px; margin-right: 12px; width: 1px; height: 14px; vertical-align: -2px; background-color: #eee;}
.cx_qlwqfrea{display: none; position: absolute; top: 0; z-index: 1; width: 100%; height: 100%; background: rgba(0,0,0,0.1) url(../img/play.cx_tnirtdlu) center no-repeat;}
.cx_fderntdm{display: block; width: 100%; position: absolute; z-index: 2; bottom: 0; left: 0; padding:5px 10px; text-align: right; font-size: 12px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap; background-repeat: no-repeat; background-image: linear-gradient(transparent,rgba(0,0,0,.5)); color: #FFFFFF;}

/* header */
.cx_atmfsqry{position: relative; background-color: #fff; border-radius: 4px 4px 0 0;}
.cx_foeqyhbb{ height: 100px; padding: 0 20px;}
.cx_xqastdts{float:left; margin-right: 30px;}
.cx_xqastdts{ width: 282px; margin-top: 20px}
.cx_xqastdts .cx_uzmlpche{display:block; width: 282px; height:60px; background:url(../img/logo_max.cx_tnirtdlu) no-repeat;background-position:50% 50%;background-size:cover}
.cx_xaccugqr{ float:left; position:relative; width:280px; margin-top: 30px; margin-left: 60px; padding: 5px; border-radius: 4px; background-color: rgba(255,255,255,.6);}
.cx_xaccugqr .cx_pyjyiwzk{display:block; width:100%; height:35px; line-height: 35px; padding:0 45px 0 10px; font-size:12px; line-height:32px; border-radius: 4px; transition:border-color ease-in-out .cx_rncbhexg,box-shadow ease-in-out .cx_rncbhexg; background-color:#f5f5f5; color: #999; border: 0;}
.cx_xaccugqr .cx_xdqxifcw{display:block; position:absolute; top: 5px; right: 5px; width:35px; height:35px; border: 0; cursor: pointer; background: url(../img/icon_seacrh.cx_tnirtdlu) center no-repeat;}
.cx_mthukcbu{float:right}
.cx_mthukcbu > li{ float:left; position: relative; padding: 37px 0 10px; margin-left: 30px}
.cx_mthukcbu > li > span,.cx_mthukcbu > li > a{ display: inline-block; width: 28px; height: 28px; background-size: 28px !important; cursor: pointer;}
.cx_mthukcbu > li .cx_xqfojqyl{ display: none; position: absolute; z-index: 999; top: 100%; right: -15px; padding: 15px; font-size: 12px; color: #999; background-color: #fff; box-shadow: 0 2px 8px rgba(0,0,0,.2); border-radius: 4px;}
.cx_mthukcbu > li .cx_xqfojqyl:before{ content:" "; width:10px; height:10px; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); position: absolute; top:-5px; right: 22px; background-color: #fff; border-width: 1px 1px 0 0; border-style: solid; border-color: #eee;}
.cx_mthukcbu > li:hover .cx_xqfojqyl{ display: block;} 
.cx_mthukcbu .cx_xqfojqyl.cx_ggroegjq{ width: 240px;}
.cx_mthukcbu .cx_xqfojqyl.cx_ggroegjq li{ position: relative; padding: 10px 0;}
.cx_mthukcbu .cx_xqfojqyl.cx_ggroegjq li:before{content: " "; position: absolute; left: 0; top: 0; right: 0; width: 100%; height: 1px; border-top: 1px solid #eee;}
.cx_mthukcbu .cx_xqfojqyl.cx_ggroegjq li:first-child{ margin-top: 10px;}
.cx_mthukcbu .cx_xqfojqyl.cx_ggroegjq li:last-child{ padding-bottom: 0;}
.cx_mthukcbu .cx_xqfojqyl.cx_keqmtjia{ width: 270px;}
.cx_mthukcbu .cx_xqfojqyl.cx_keqmtjia li{ float: left; width: 50%;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj{ width: 150px;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj li{ float: left; width: 50%; padding: 5px;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj li a{ display: block; width: 50px; height: 50px; background-color: #333;}
.cx_mthukcbu > li > a.cx_afxhcbcf{ background: url(../img/icon_gbook.cx_tnirtdlu) no-repeat;}
.cx_mthukcbu > li > span.cx_sxwiaiee{ background: url(../img/icon_history.cx_tnirtdlu) no-repeat;}
.cx_mthukcbu > li > span.cx_snogbxmc{ background: url(../img/icon_color.cx_tnirtdlu) no-repeat;}
.cx_mthukcbu > li > span.cx_yftcpmmd{ background: url(../img/icon_code.cx_tnirtdlu) no-repeat;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj li a.cx_zypayqpx{ background-color: #333;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj li a.cx_nyfrowpb{ background-color: #fc5b5b;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj li a.cx_kjcqrerf{ background-color: #3385ff;}
.cx_mthukcbu .cx_xqfojqyl.cx_zfrlnecj li a.cx_iwuitimt{ background-color: #04ea04;}
.cx_veehgoye{ position:relative; margin:0 -10px;}
.cx_veehgoye:before{ content: ""; position: absolute; top: -10px; right: 0; width:0; height:0; border-width: 10px 0 0 10px; border-style:solid; border-color: transparent transparent transparent #ccc;}
.cx_veehgoye:after{ content: ""; position: absolute; top: -10px; left: 0; width:0; height:0; border-width: 0 0 10px 10px; border-style:solid; border-color:transparent transparent  #ccc transparent;}
.cx_veehgoye li{ float:left;}
.cx_veehgoye li:first-child:before{ display: none;}
.cx_veehgoye li a{ display:inline-block; padding: 15px 25px; font-size:15px;}
.cx_veehgoye .cx_abhldvdy{ position: absolute; top: 0; right: 0; padding: 15px 20px;}

/* screen */
.cx_yrsuywei{position:relative; padding:15px 0 5px 0; margin: 0 10px; border: transparent;}
.cx_yrsuywei:before{content: " "; position: absolute; left: 0; bottom: 0; right: 0; width: 100%; height: 1px; border-bottom: 1px solid #eee;}
.cx_yrsuywei.cx_nktazzdp{ padding-top: 5px;}
.cx_yrsuywei li{ float:left;}
.cx_yrsuywei li span{display:inline-block; padding:3px 0 3px}
.cx_yrsuywei li a{display:inline-block; padding: 2px 10px; margin-left:10px; margin-bottom: 10px; border-radius:2px}
.cx_yrsuywei.cx_ahylbuys li a{padding:3px 5px}
.cx_yrsuywei.cx_ahylbuys li.active a{padding:3px 10px}
.cx_zgpchvkw{ height: 0; overflow: hidden;}
.cx_xxqohiyj{ position: relative; padding: 10px; text-align: center;}
.cx_xxqohiyj .cx_zcxvbqrx{ position: absolute; top: -1px; left: 50%; margin-left: -60px; z-index: 1; width: 120px; height: 25px; text-align: center; border: 1px solid #eee; border-top: transparent; background-color: #fff; border-radius: 0 0 4px 4px; font-size: 12px;}

/* pannel */
.cx_zuvcilnm{padding:0 10px 10px;}
.cx_qxoapjxq{ position: relative; margin-bottom: 10px; padding: 10px;}
.cx_qxoapjxq:before{content: " "; position: absolute; left: 0; bottom: 0; right: 0; width: 100%; height: 1px; border-bottom: 1px solid #eee;}
.cx_qxoapjxq:after{content: " "; position: absolute; left: 0; bottom: 0; width: 20px; height: 1px; background-color: #fff;}
.cx_qxoapjxq:last-child{ margin-bottom: 0; border-bottom: 0;}
.cx_qxoapjxq:last-child:before{ display: none;}
.cx_gcwplvrc{ float: left; width: 70%;}
.cx_kmsmlwsc{ float: left; width: 30%;}
.cx_bohtsjby{ padding: 0 10px; margin-bottom: 10px; line-height: 25px;}
.cx_bohtsjby .cx_bbxkoftw{ display: inline-block; margin: 0; }
.cx_bohtsjby .cx_ifznnxfs{ display: inline-block;}
.cx_csbabxth{ position: relative; margin-top: 20px; margin-bottom: 10px; text-align: center;}
.cx_csbabxth li{ display: inline-block; margin: 0 5px;}
.cx_csbabxth li a{ position: relative; display:inline-block; padding: 4px 25px; border: 1px solid #eee; border-radius: 4px}
.cx_csbabxth li.active a:before{ content:" "; width:10px; height:10px; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);  position: absolute; bottom:-5px; right: 50%; margin-right: -5px;}
.cx_bohtsjby .cx_jxxlcsms{ float: right;}
.cx_bohtsjby .cx_jxxlcsms li{ float: left; margin-left: 10px;}
.cx_bohtsjby .cx_jxxlcsms li a{ position: relative; display: inline-block; height: 28px; line-height: 25px; padding: 0 15px; border-radius: 4px; border: 1px solid #eee;}
.cx_bohtsjby .cx_jxxlcsms li.active a:before{ content:" "; width:10px; height:10px; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg);  position: absolute; bottom:-5px; right: 50%; margin-right: -5px;}

/* vodlist */
.cx_rokswbzo{ position: relative; float: left; padding: 10px; width: 16.666666%;}
.cx_rokswbzo.cx_qjvcrogw{ width: 20%;}
.cx_rokswbzo.active{ width: 33.333333%;}
.cx_hobnutpv{ position: relative; display: block; padding-top: 150%; background: url(../img/load.cx_fiukilpe) no-repeat; background-position: 50% 50%; background-size: cover;}
.cx_hobnutpv.active{ padding-top: 50%; background: url(../img/load_w.cx_fiukilpe) no-repeat; background-position: 50% 50%; background-size: cover;}
.cx_hobnutpv:hover .cx_qlwqfrea{ display: block;}
.cx_opvcqwmp{ font-size: 14px; margin-bottom: 0; width:100%; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}
.cx_jriickrb{ padding: 0 10px;}
.cx_jriickrb a{ display: block; padding: 10px 0; border-top: 1px dotted #eee;}

/* content */
.cx_spggcsia{display: -webkit-box; display: -webkit-flex; display: flex; -webkit-box-align: center; -webkit-align-items: center; align-items: center;}
.cx_oybzwwzg,.cx_cthhjxse,.cx_dedeknds{display:table-cell; vertical-align:top}
.cx_cthhjxse .cx_nsnnggbw{ display: block; position: relative; width:160px;}
.cx_cthhjxse .cx_nsnnggbw:hover .cx_qlwqfrea{ display: block;}
.cx_oybzwwzg{ width: 520px; padding: 0 20px;}
.cx_oybzwwzg .cx_bbxkoftw{margin:0 0 10px; line-height:25px;}
.cx_oybzwwzg .cx_bbxkoftw .cx_ahhqwqpf{ display: inline-block; margin-left: 10px; font-family: Georgia,"Times New Roman",Times,serif;}
.cx_oybzwwzg .cx_qesffrss{margin-bottom:10px}
.cx_oybzwwzg .cx_qesffrss li{float:left;margin-right:20px}
.cx_oybzwwzg .cx_zlffnhem{padding-left:42px}
.cx_oybzwwzg .cx_zlffnhem .cx_vcdpolhj{margin-left:-42px}
.cx_oybzwwzg .cx_wrmlwxvm{ padding-left:42px; margin-top:20px}
.cx_oybzwwzg .cx_wrmlwxvm a{ display: inline-block; margin-right: 10px; width: 90px; height: 32px; line-height: 30px; background-color: #f5f5f5; border: 1px solid #eee; text-align: center; border-radius: 5px; font-size: 12px;}
.cx_oybzwwzg .cx_wrmlwxvm a.active{ width: 120px;}
.cx_lumtsjuf{ line-height: 25px; margin-bottom: 10px;}
.cx_lumtsjuf img{ max-width: 100%;}

/* playlist */
.cx_waqdyouo{ position: relative; padding: 10px 0 0 10px;}
.cx_waqdyouo.cx_kezzohnj{ height: 170px; overflow-y: scroll;}
.cx_waqdyouo li{float:left; width: 12.5%; padding-bottom: 10px; padding-right: 10px;}
.cx_waqdyouo li a{display: block; position: relative; padding:5px 10px; text-align: center; border: 1px solid #eee; border-radius:5px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;}
.cx_waqdyouo.cx_gfvomtme li{ width: auto;}
.cx_waqdyouo.cx_gfvomtme li a{ padding:5px 20px;}
.cx_hdfuxich{ padding: 0 10px; color: #999;}
.cx_hdfuxich a{ color: #999;}
.cx_kkruobek{ position: relative;}
.cx_kkruobek li{ border-top:1px dotted #eee; padding: 10px 0;}
.cx_kkruobek li:last-child{ padding-bottom: 0;}

/* player */
.cx_fasbzwtk{ background-color: #000;}
.cx_cazmxhjh .cx_sclxievu{ float: right;}
.cx_cazmxhjh .cx_sclxievu .cx_pxkwrzju{ display: inline-block; margin-top: 5px; margin-right: 10px; width: 90px;  height: 32px; line-height: 30px; text-align: center; font-size: 14px; border: 1px solid #eee; border-radius: 4px;}
.cx_cazmxhjh .cx_sclxievu .cx_pxkwrzju.cx_mufksaej{ display: none;}

/* flickity */
.cx_vcltzpvx{ position: relative; padding:0 10px 10px;}
.cx_vcltzpvx-item{ position: relative; width: 60%; padding: 5px; overflow: hidden;}
.cx_vcltzpvx-item a:before{ content: ""; position: absolute; z-index: 1; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.6);}
.cx_vcltzpvx-item.cx_oiwckhjk a:before,.cx_vcltzpvx-item a .cx_bbxkoftw{ display: none;}
.cx_vcltzpvx-item.cx_oiwckhjk a .cx_bbxkoftw{ display: block; width: 100%; position: absolute; bottom: 0; left: 0; padding:10px; text-align: center; font-size: 14px; overflow:hidden; text-overflow:ellipsis; -o-text-overflow:ellipsis; white-space:nowrap;  background-color: rgba(0,0,0,.6); color: #FFFFFF;}
.cx_vcltzpvx-enabled{position:relative;}
.cx_vcltzpvx-enabled:focus{outline:0}
.cx_nevefxsw{overflow:hidden;position:relative;cursor:-webkit-grab;cursor:grab}
.cx_nevefxsw.cx_hdqhnuxe{cursor:-webkit-grabbing;cursor:grabbing}
.cx_owccmdwe{position:absolute;top:50%;width:30px;height:60px;border:none; background-color: rgba(0,0,0,.6); cursor:pointer;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
.cx_owccmdwe.cx_jomtfqsi{left:10px;border-radius:0 10px 10px 0}
.cx_owccmdwe.cx_upapeugr{right:10px;border-radius:10px 0 0 10px}
.cx_owccmdwe:disabled{opacity:0;cursor:auto}
.cx_owccmdwe svg{position:absolute;left:20%;top:20%;width:60%;height:60%}
.cx_owccmdwe .cx_ehnvxkpk{fill:#fff}
.cx_owccmdwe.cx_jzgrzuzc{color:#fff;font-size:18px}

/* table */
.cx_nlizwtoe{ width: 100%; border-collapse: collapse;}
.cx_nlizwtoe tr{ display: table-row; vertical-align: inherit; border-color: inherit;}
.cx_nlizwtoe tr th,.cx_nlizwtoe tr td{ text-align: left; padding: 10px; vertical-align:top; border-top:1px solid #ddd; border-collapse: collapse;}
.cx_nlizwtoe tr:nth-of-type(odd){ background-color: #f5f5f5;}

/* page */
.cx_mnxdfpcx{margin: 10px 0;}
.cx_mnxdfpcx li{display:inline-block;margin-left:10px}
.cx_mnxdfpcx li .cx_amdjpjng,.cx_mnxdfpcx li a{display:inline-block;padding:5px 15px;border-radius:5px; background-color: #fff; border: 1px solid #eee;}
.cx_mnxdfpcx-text{ margin: 10px 0; font-size: 0; text-align: center;}
.cx_mnxdfpcx-text a,.cx_mnxdfpcx-text em,.cx_mnxdfpcx-text span{font-style:normal; display:inline-block; margin: 0 5px;padding:6px 12px; border-radius: 4px;cursor:pointer; background-color: #fff; border: 1px solid #eee; font-size: 14px;}
.cx_mnxdfpcx-text .cx_wfvxeibf{ padding: 6px; margin-right: 5px; border-radius: 5;}
.cx_mnxdfpcx-text .cx_ekxrpqdz{ padding: 6px 12px; cursor: pointer;}
.cx_mnxdfpcx-text input{ display: none;}

/* embed */
.cx_hkbtqcxo{position:relative;display:block;overflow:hidden;padding:0;height:0}
.cx_hkbtqcxo .cx_hkbtqcxo-item,.cx_hkbtqcxo embed,.cx_hkbtqcxo iframe,.cx_hkbtqcxo object,.cx_hkbtqcxo video{position:absolute;top:0;bottom:0;left:0;width:100%;height:100%;border:0}
.cx_joghjfue{padding-bottom:56.25%}
.cx_ybhzvptk{padding-bottom:75%}

/* autocomplete */
.cx_jutpzmys{ padding: 0 10px; margin-top: 5px; border-radius:4px;}
.cx_jutpzmys.active{position: absolute; z-index: 9999; top: 100%; width: 100%; background-color: #FFFFFF; box-shadow: 0 2px 8px rgba(0,0,0,.2);}
.cx_xpymqbso{padding:10px 0; cursor:pointer; border-top: 1px solid #EEEEEE;}
.cx_xpymqbso:first-child{border-top:0}
.cx_welbhibn{ z-index: 9999; padding: 0 10px; margin-top: 5px; border-radius:4px; background-color: #FFFFFF; border:1px solid #EEEEEE; box-shadow: 0 2px 8px rgba(0,0,0,.2);}
.cx_welbhibn li{padding:10px 0; cursor:pointer; border-top: 1px solid #EEEEEE;}
.cx_welbhibn li:first-child{ border: 0;}

/* bootstrap.cx_ehhnijrj */
.fade{opacity: 0;-webkit-transition: opacity .cx_rncbhexg linear;-o-transition: opacity .cx_rncbhexg linear;transition: opacity .cx_rncbhexg linear;}
.fade.in{opacity: 1;}
.cx_iecicdtl>.cx_zpiowxdj,.cx_eyfqdjwx>.cx_lvqqvehn{ display: none;}
.cx_iecicdtl>.cx_zpiowxdj.active,.cx_eyfqdjwx>.cx_lvqqvehn.active{ display: block;}
.cx_xqfojqyl{ position: relative; margin-left: 20px;}
.cx_iexyzspp{display: none; position:absolute; width: 120px; top:100%; right: 0; z-index:1000; margin-top: 10px; padding: 10px; border-radius: 4px; background-color: #fff; border: 1px solid #eee; box-shadow: 0 2px 8px rgba(0,0,0,.2);}
.cx_iexyzspp:before{ content:" "; width:10px; height:10px; -webkit-transform:rotate(-45deg); -ms-transform:rotate(-45deg); transform:rotate(-45deg); position: absolute; top:-5px; right: 30px; background-color: #fff; border-width: 1px 1px 0 0; border-style: solid; border-color: #eee;}
.cx_iexyzspp li a{display: block; padding: 6px; border-bottom: 1px solid #eee; font-size: 14px; text-align: center;}
.cx_iexyzspp li:last-child a{  border-bottom: 0;}
.cx_iexyzspp li.active a, .cx_iexyzspp li.active> a:focus{ color: #FF9900;}
.cx_xqygrgso>.cx_iexyzspp {display: block;}

/* more */
.cx_uajvdfin{ margin: 0 !important;}
.cx_jvolypeo{ padding: 0 !important;}
.cx_kfiffxub{ float: left !important;}
.cx_ahtwgegs{ float: right !important;}
.cx_donexjyp li{ float: left; margin-right: 15px; margin-bottom: 10px;}
.hide,.cx_nuuerzsa, .cx_wwseyycn, .cx_lrztiidp, .cx_uhslzpet, .cx_wrrqosjd{ display: none !important;}
.cx_ebluvmsz{ padding: 20px; text-align: center; color: #999;}

@media (min-width: 1200px){	
	.cx_nuuerzsa { display: block !important;}
	.cx_mecvhyib {display: none !important;}		
}

@media (max-width: 1199px) and (min-width: 992px){
	.cx_wwseyycn { display: block !important;}
	.cx_ogbhwydj {display: none!important;}
}

@media (max-width: 991px) and (min-width: 768px){	
	.cx_lrztiidp{ display: block !important;}
	.cx_cxrmyylz {display: none !important;}	
}

@media (max-width: 1023px){
	body{ padding-top: 20px;}
	.cx_fnncqktw{ width: 100%; padding-left: 35px; padding-right: 35px;}	
	.cx_gcwplvrc,.cx_kmsmlwsc{ float: none; width: 100%;}
	
	/* header */
	.cx_xqastdts{ margin-right: 10px;}
	.cx_xaccugqr{ width: 220px; margin-left: 0;}
	.cx_mthukcbu > li{ margin-left: 20px;}
	.cx_mthukcbu > li:hover .cx_xqfojqyl{ display: none;}
	
	/* screen */
	.cx_yrsuywei{ display: block; margin: 0 5px; padding:12px 0;}
	.cx_yrsuywei.cx_nktazzdp{ padding-top: 5px;}
	.cx_yrsuywei:before{ -webkit-transform-origin: 0 100%;transform-origin: 0 100%; -webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
	.cx_yrsuywei li{ float: none;}
	.cx_yrsuywei li span{ margin: 0; padding: 2px;}
	.cx_yrsuywei li a,.cx_yrsuywei.cx_ahylbuys li a,.cx_yrsuywei.cx_ahylbuys li.active a{ display: inline-block; margin: 0 0 0 8px; padding: 2px 5px; white-space:nowrap}
	
	/* vodlist */
	.cx_rokswbzo{ width: 25%;}
	.cx_rokswbzo.active{ width: 50%;}
	
	/* content */
	.cx_oybzwwzg{ width: 100%;}
	.cx_waqdyouo li{ width: 16.6666667%;}
	
	/* flickity */
	.cx_vcltzpvx-item{ width: 80%;}
}

@media (max-width:767px){
	.cx_uhslzpet { display: block !important;}
	.cx_jhjquqyl {display: none!important;}
	body{ padding-top: 100px;}
    .cx_fnncqktw{ width: 100%; padding-left: 15px; padding-right: 15px;}
    .cx_vcrabmay{ border: 0; border-radius: 0;}
    .cx_zuvcilnm{ padding: 5px;}
    
    /* header */
    .cx_atmfsqry{position:fixed;top:0;z-index:999;width:100%;height:60px; border-radius: 0; background-size: 390px !important;}
	.cx_foeqyhbb{ height: 60px; padding: 0 10px;}
    .cx_xqastdts{ width: 127px; margin: 15px 0 0; padding: 0;}
    .cx_xqastdts .cx_uzmlpche{width: 127px; height:30px;background:url(../img/logo_min.cx_tnirtdlu) no-repeat;background-position:50% 50%;background-size:cover}
    .cx_xaccugqr{ float: none; width: auto; margin: 5px 0 0; padding: 0; position: absolute; top: 10px; right: 80px; left: 147px;}
    .cx_xaccugqr .cx_pyjyiwzk{ height: 30px; line-height: 30px; border-radius: 5px; padding:6px 40px 6px 10px; border: 0;}
    .cx_xaccugqr .cx_xdqxifcw{ top: 0; right: 0; width: 30px; height: 30px;}   
	.cx_mthukcbu > li{ padding: 18px 0 10px; margin-left: 10px;}
	.cx_mthukcbu > li > span{ width: 24px; height: 24px; background-size: 24px !important;}
	.cx_mthukcbu > li .cx_xqfojqyl{ right: 0;}	
	.cx_mthukcbu > li .cx_xqfojqyl:before{ right: 7px;}
	.cx_mthukcbu .cx_xqfojqyl.cx_ggroegjq li:before{ -webkit-transform-origin: 0 100%;transform-origin: 0 100%; -webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
	.cx_veehgoye{ position:relative; margin: 0;}
	.cx_veehgoye:before,.cx_veehgoye:after{ display: none;}
	.cx_veehgoye ul { height: 40px; display: -webkit-box; display: -webkit-flex; display: flex;}
	.cx_veehgoye li{ display: block; -webkit-box-flex: 1; -webkit-flex: 1; flex: 1; text-align: center;}
	.cx_veehgoye li a{ display: block; padding: 0; line-height: 40px; font-size: 14px;}
	
	/* pannel */
	.cx_qxoapjxq{  margin-bottom: 10px; padding:5px 5px 10px;}
	.cx_qxoapjxq:before{ -webkit-transform-origin: 0 100%;transform-origin: 0 100%; -webkit-transform: scaleY(0.5);transform: scaleY(0.5);}
	.cx_qxoapjxq:after{ width: 10px;}
	.cx_bohtsjby{ padding: 0 5px; margin-bottom: 5px;}
	.cx_bohtsjby .cx_bbxkoftw{ font-size: 16px;}
	.cx_csbabxth{ padding-bottom: 10px;}
	.cx_bohtsjby .cx_ifznnxfs{ float: right;}
	.cx_bohtsjby .cx_jxxlcsms{ float: none; text-align: center; padding-bottom: 10px;}
	.cx_bohtsjby .cx_jxxlcsms li{ float: none; display: inline-block; margin: 0 5px;}
	
	/* vodlist */
	.cx_rokswbzo{ width: 33.333333%; padding: 5px;}
	.cx_rokswbzo.active{ width: 100%;}
	
	/* content */
	.cx_cthhjxse .cx_nsnnggbw{ width: 120px;}
	.cx_oybzwwzg{ padding: 0 0 0 15px;}
	.cx_oybzwwzg .cx_qesffrss{ margin-bottom: 5px;}
	.cx_oybzwwzg .cx_wrmlwxvm{ margin-top: 10px; padding: 0;}
	.cx_oybzwwzg .cx_wrmlwxvm a{ height: 28px; line-height: 28px;}
	.cx_oybzwwzg .cx_wrmlwxvm a.active{ width: 90px;}
	.cx_waqdyouo{ padding: 5px 0 0 5px;}
	.cx_waqdyouo li{ width: 33.333333%;}
	.cx_waqdyouo li a{ font-size: 12px;}
	
	/* player */
	.cx_cazmxhjh .cx_sclxievu{ float: none; padding: 10px; background-color: #f5f5f5; text-align: center;}
	.cx_cazmxhjh .cx_sclxievu .cx_pxkwrzju{ margin-top: 0; background-color: #fff;}
	.cx_cazmxhjh .cx_sclxievu .cx_pxkwrzju.cx_mufksaej{ display: inline-block;}
	
	/* flickity */
	.cx_vcltzpvx{ padding:0 5px;}
	.cx_vcltzpvx-item{ width: 100%; padding:5px 0;}
	.cx_vcltzpvx-item.cx_oiwckhjk a .cx_bbxkoftw{ padding: 5px; font-size: 12px;}
	.cx_owccmdwe{ width: 20px; height: 35px;}
	.cx_owccmdwe.cx_jomtfqsi{left:5px;border-radius:0 5px 5px 0}
	.cx_owccmdwe.cx_upapeugr{right:5px;border-radius:5px 0 0 5px}
	.cx_owccmdwe svg{ top: 30%; left: 30%; width: 40%; height: 40%;}
	
	/* link */
	.cx_donexjyp li{ margin-right: 10px; margin-bottom: 5px;}
	
	/* page */
	.cx_mnxdfpcx li{float:left; width:20%;margin:0; padding:0 5px 0 5px}
	.cx_mnxdfpcx li a,.cx_gclrkumm li .cx_amdjpjng{display: block; padding:5px 0; text-align:center}
	.cx_mnxdfpcx li.cx_qpolqghc{ float: none; display: none; width: auto; margin-bottom: 5px;}
	.cx_mnxdfpcx li.cx_qpolqghc.disabled,.cx_mnxdfpcx li.cx_qpolqghc:first-child,.cx_mnxdfpcx li.cx_qpolqghc:last-child{ display: inline-block;}
	.cx_mnxdfpcx li.cx_qpolqghc a{ padding: 5px 15px;}
	.cx_mnxdfpcx-text a,.cx_mnxdfpcx-text em,.cx_mnxdfpcx-text span{ margin: 0 5px;}
	.cx_mnxdfpcx-text a.cx_opggypri{ display: none;}
	
	/* fixed */
	.cx_qamaadpc-down{margin-top:-60px}
	.cx_qamaadpc-up{ margin-top: 0 !important;}
	.cx_qamaadpc{ -webkit-transition:.cx_ljidtcbr; -o-transition:.cx_ljidtcbr; -moz-transition:.cx_ljidtcbr; -ms-transition:.cx_ljidtcbr; transition:.cx_ljidtcbr;}
	@keyframes fade-in {0% {opacity: 0;}40% {opacity: 0;}100% {opacity: 1;}}  
	@-webkit-keyframes fade-in { 0% {opacity: 0;}  40% {opacity: 0;}100% {opacity: 1;}} 
	
	/* share */
	.cx_ysmrvhlf{ padding: 0 5px 10px;}
	.cx_ysmrvhlf a{ display: block; padding: 10px; text-align: center; border-radius: 4px;}
	.cx_rijnjmku{ position: fixed; z-index: 999; top: 0; bottom: 0; left: 0; width: 100%; height: 100%; animation: fade-in; animation-duration: .cx_ljidtcbr; -webkit-animation:fade-in .cx_ljidtcbr;}
	.cx_egtsdrsx{ background: url(../img/share_weixin.cx_tnirtdlu) rgba(0, 0, 0, .8) no-repeat; background-position: right top 10px; background-size: 80%;}
	.cx_njtqetcn{ background: url(../img/share_other.cx_tnirtdlu) rgba(0, 0, 0, .8) no-repeat; background-position: center bottom 10px; background-size: 80%;}
}