body {
	background: url(../img/bg_icon.jpg);
	color: #666;
}

a,h1, h2, h3, h4, h5, h6 {
	color: #333333;
}

a:focus,a:hover,a:active {
	color: #949dfb;
}

.xsjduqdl .more,.xsjduqdl .more a {
	color: #ddd;
}

.xsjduqdl li a {
	color: #fff;
}

.xsjduqdl li.active a,.xsjduqdl li a:hover {
	background-color: #2d78f4;
	color: #fff;
}

.xsjduqdl,.isdobvbg li.active a,.yjxpqixs li.active a,.mixlvnbp .playbtn a.active,.vfdpxgdu li.active a,.vfdpxgdu li.active .num,.vfdpxgdu li.disabled a,.nieofsig li.active a,.bdaeezmy li.active a,.mkogvqeh li .submit,.daofrbls .tabs li.active a,.daofrbls .tabs li.active a:before,.nieofsig li.active a:before,.fludvveo a,.vfdpxgdu-text span.pagenow {
	background-color: #3385ff;
	color: #fff;
}

.isdobvbg li.active a,.vfdpxgdu li.active a,.vfdpxgdu li.active .num,.vfdpxgdu li.disabled a,.mixlvnbp .playbtn a.active,.nieofsig li.active a,.bdaeezmy li.active a,.daofrbls .tabs li.active a,.vfdpxgdu-text span.pagenow {
	border: 1px solid #3385ff;
}